.container-fluid {
    position: relative;
    width: 640px;
    height: 310px;
    padding: 15px;
    margin: 0 auto 2em;
    border: 1px solid #ddd;
    background: #FFF;
    /* CSS3 effects */
    background: linear-gradient(#FFF, #FFF 20%, #EEE 80%, #DDD);
    border-radius: 2px 2px 2px 2px;
    box-shadow: 0 0 3px rgba(126, 123, 123, 0.801);
}
.container-fluid:before, .container-fluid:after {
    position: absolute;
    bottom: 16px;
    z-index: -10;
    width: 50%;
    height: 20px;
    content: " ";
    background: rgba(0,0,0,0.1);
    border-radius: 50%;
    box-shadow: 0 0 3px rgba(0,0,0, 0.4), 0 20px 10px rgba(0,0,0, 0.7);
    }

.container-fluid:before {
    left: 0;
    transform: rotate(-4deg);
}

.container-fluid:after {
    right: 0;
    transform: rotate(4deg);
}

.card-text {
    text-align: justify;
}

.equipe-text {
    text-align: justify;
}

.row {
    align-content: center;
}
